.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;

	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;

	&:disabled {
		opacity: 0.5;

		&:hover {
			color: var(--black);
			border: 1px solid var(--gray-light);
			background: none;
		}
	}
}

.round {
	padding: 5px;

	border-radius: 10px;
}

.primary {
	color: var(--white);
	background-color: var(--primary);

	&:hover {
		background-color: var(--primary-hover);
	}
}

.ghost {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: none;

	&:hover {
		color: var(--white);
		background-color: var(--primary);
	}
}

.white {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: var(--white);

	&:hover {
		color: var(--white);
		border: 1px solid var(--red);
		background-color: var(--red);
	}
}
